# =============== #
# Unity generated #
# =============== #
UnityGenerated/
[Ll]ibrary/
[Tt]emp/
[Oo]bj/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svds
*.suo
*.user
*.booproj

# ============ #
# OS generated #
# ============ #

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db


# Ignore the following file extensions
*.DS_Store
build
*.s
*.csproj
*.unityproj
ios-dev
us_ios
*.apk
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass-vs.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
Assembly-UnityScript-Editor-vs.unityproj
Assembly-UnityScript-Editor.unityproj
Assembly-UnityScript-firstpass-vs.unityproj
Assembly-UnityScript-firstpass.unityproj
Assembly-UnityScript-vs.unityproj
Assembly-UnityScript.unityproj
*.sln
*.userprefs
devBuild
iosBuild
Assets/Logs
Logs.meta
.consulo
Logs
webGL
AssetBundles
*.mp4
*.mp4.meta
*.ogv
*.ogg
!*.dll

UWP
Packages

.vs/